<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::stores">
                <resource id="Magento_Backend::stores_settings">
                    <resource id="Magento_Config::config">
                        <resource id="Bodylanguage_CustomOptionSwatches::config_custom_option_swatches"
                                  title="Custom Option Swatches"
                                  sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
